import("xcms",
       "CAMERA",
       "LOBSTAHS",
       "methods")

importFrom("utils",
           "write.csv",
           "object.size",
           "read.table",
           "read.csv")

exportPattern(".")
